.productDetail_caption {
    font-size: 1.5rem;
    margin-bottom: 12px;
    font-weight: 700;
    line-height: 1.5;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

body {
    font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, Osaka, ＭＳ Ｐゴシック, MS PGothic, sans-serif !important;
    font-size: 16px;
    color: #404040;
    font-weight: 400;
    font-variant: normal;
    line-height: 1.5em;
    position: relative;
    text-align: left;
    word-break: break-all;
}

.productDetail_info {
    margin-bottom: 12px;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

div {
    display: block;
    unicode-bidi: isolate;
}

h2 {
    margin: 0;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.productDetail_info .stock {
    display: inline-block;
    margin-left: 1rem;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}


.productDetail_priceBox {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 12px;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.productDetail_priceBox .txt_price {
    font-size: 1.875rem;
    font-weight: 700;
    text-align: right;
    flex-shrink: 0;
    letter-spacing: -.04rem;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

.productDetail_priceBox .tag_shipping .is_included {
    background-color: #ceeaff;
}

.productDetail_priceBox .tag_shipping {
    display: inline-block;
    padding: 2px 6px;
    font-size: .75rem;
    border-radius: 55px;
    margin-left: 5px;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}


.productDescription {
    position: relative;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

section {
    display: block;
    unicode-bidi: isolate;
}


.productDescription_inner {
    -webkit-transition: .5s;
    transition: .5s;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}


div {
    display: block;
    unicode-bidi: isolate;
}


.productDescription_inner .caption {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


.productDescription_inner .text {
    font-size: .875rem;
    margin-bottom: 30px;
}

p {
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}


@media screen and (max-width: 1200px) {
    #wrapper {
        padding: 0 20px;
    }

}

#wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}
div {
    display: block;
    unicode-bidi: isolate;
}

article {
    display: block;
    unicode-bidi: isolate;
}

@media screen and (max-width: 1200px) {
    .productDetail_wrapper {
        grid-template-columns: 1fr 1fr;
    }
}


/* .productDetail_wrapper {
    display: grid;
    grid-template-columns: 480px 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 0 45px;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
} */

.productDetail_imgWrap {
    grid-row: 1 / 4;
    grid-column: 1 / 2;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

.productDetail_imgWrap .productImgModalOpen {
    cursor: pointer;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}


.productDetail_imgWrap .img_main {
    width: 100%;
    margin-bottom: 10px;
    position: relative;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}


.productDetail_imgWrap .img_main .img {
    aspect-ratio: 1 / 1;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

*, :before, :after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}




.productDetail_imgWrap .img_main .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
}

img {
    vertical-align: bottom;

    overflow-clip-margin: content-box;
    overflow: clip;


}

